* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Noto Sans JP', sans-serif;
}

input, button, textarea {
    outline: none;
    border: .1rem solid transparent;
}

input:focus {
    border-color: #1f76f9 !important;
}

textarea {
    max-width: 100%;
    min-width: 100%;
}

hr {
    border: 0;
    border-top: .1rem solid #eee;
    margin-bottom: 1rem;
}

:root {
    --light-blue: #1f76f9;
}

/* HEADER.BLADE */

header {
    display: flex;
    justify-content: center;
    
    background-color: #F2F8FF;
    border-bottom: .1rem solid #d5dbe2;
}

header .btns button {
    margin: 0.5rem;
    
    border: transparent;

    background-color: transparent;
    color: var(--light-blue);
    font-size: 1.1rem;
}

header .btns button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.registered-message {
    display: none;
}

.registered-message--active {
    height: 2rem;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #88ff88;
    border-bottom: .1rem solid #88ff88;
}

.tempora-message-exit {
    position: absolute;
    right: 1rem;
}

.tempora-message-exit:hover {
    cursor: pointer;
}

/* MAIN.BLADE */

#main {
    display: flex;
    justify-content: center;

    padding-top: 2rem;
}

.jobs-container {
    padding: 1rem;

    max-width: 60rem;
}

.job {
    padding: 1rem;
    margin-bottom: 1.5rem;

    border: 1px solid #d9dce7;
    border-radius: .25rem;
}

.job__title {
    margin-bottom: 1rem;
}

.job__salary {
    margin-bottom: .5rem;

    color: #949494;
}

.job__description {
    display: flex;
    align-items: center;
}

.apply-btn, .create-form__submit {
    padding: .5rem .7rem;
    margin-left: 1rem;

    border: 1px solid var(--light-blue);
    background-color: white;
    border-radius: .25rem;
}

.apply-btn:hover, .create-form__submit:hover {
    cursor: pointer;

    color: white;
    background-color: var(--light-blue);
}

.apply-btn--applied {
    border-color: rgb(255, 111, 111);
    background-color: rgb(255 81 81);
    color: white;
}

.apply-btn--applied:hover {
    background-color: rgb(255 81 81);
    pointer-events: none;
}

.container-register, .container-login {
    display: none;
}

.container-register--active, .container-login--active {
    width: 100%;
    height: 100vh;
    top: 0;

    position: fixed;
    display: grid;
    place-items: center;

    background-color: rgba(0, 0, 0, 0.514);
    z-index: 5;
}


.session-form {
    width: 25rem;
    padding: 1rem;
    
    position: relative;

    display: flex;
    flex-direction: column;

    border-radius: .4rem;
    background-color: white;

    box-shadow: 0px 0px 17px -8px rgba(0,0,0,0.63); 
}

.session-form input, .create-form input, textarea {
    padding: .3rem .5rem;
    height: 2.6rem;

    border-radius: .2rem;

    border: 1px solid rgb(209, 209, 213);
    background-color: rgb(246, 246, 250);

    font-size: 1rem;
}

.input {
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
}

.cv-btn > label {
    width: 2rem;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: grey;

    border: .1rem solid rgb(209, 209, 213);
    background-color: rgb(246, 246, 250);
}

.cv-btn > label:hover {
    cursor: pointer;
}

.session-form label {
    font-size: .9rem;
}

.session-form h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.submit-btn {
    background-color: rgb(0, 106, 255);
    color: white;
    border-radius: .2rem;

    font-weight: 500;
    font-size: 1.1rem;

    padding: .4rem;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: rgb(0 79 190);
}

.register-exit, .login-exit {
    font-size: 1.6rem;
    font-weight: 700;

    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.register-exit:hover, .login-exit:hover {
    cursor: pointer;
}

/* CREATE.BLADE */

.create-container {
    padding-top: 2rem;

    display: flex;
    justify-content: center;
}

.create-form {
    width: 30rem;
    padding: 1rem;
}

.create-form textarea {
    height: 10rem;
}

.create-form__bottom {
    display: flex;
}

.minsalary-container {
    width: 50%;
    padding-right: .3rem;
}

.maxsalary-container {
    padding-left: .3rem;
    width: 50%;
}

.create-form__checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-form__checkbox > div {
    display: flex;
    align-items: center;
}

.create-form__checkbox > div label {
    margin-right: .4rem;
}

.create-form__submit {
    padding: .4rem;
}

@media(max-width: 524px) {
    .create-form__bottom {
        flex-direction: column;
    }

    .minsalary-container, .maxsalary-container {
        width: unset;
        padding: unset;
    }
}